@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  font-family: 'Montserrat';
  text-align: center;
  color: black;
}

#header {
  font-size: 40px;
  margin: 10px;
  font-weight: bold;
  color: #ee575d;
}

[type=submit] {
  background-color: #ee575d;
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 15px 2px;
  transition-duration: 0.4s;
}


#listing-links {
  border-radius: 10px;
  box-shadow: 1px 1px 6px 6px rgba(242,242,242,1);
  border: none;
  padding: 5px 5px;
  margin: 15px;
  transition-duration: 0.4s;
  width: 150px;
  height: 150px;
  font-size: 15px;
}

#listing-details {
  background-color: rgba(255, 255, 255, 0.609);
  width: 50%;
  margin: auto;
}

table {
  background-color: white
}
